// Define variables for your color scheme

// For example:
$dark: #000000;
$dark-grey: #727272;
$medium-gray: #8C8C8C;
$light-gray: #DCDCDC;
$white: #ffffff;
$blue: #75CBED;
$purple: #9747FF;
$light-blue:#DBFBFF;
$light-purple: #EFD4FF;
//$linear-gradient:(#DBFBFF #EFD4FF);


$yellow: #fcff62;
$green: #a0e080;
$red: #fb6464;
$orange: #feb55b;
