// Define variables for your color scheme

// For example:
$dark: #000000;
$dark-grey: #727272;
$medium-gray: #8C8C8C;
$light-gray: #DCDCDC;
$white: #ffffff;
$blue: #75CBED;

$purple: #9747FF;
$yellow: #fcff62;
$red:#fb6464;
$orange:#feb55b;
