<div class="container">
  <div class="my-5 text-center">
    <div class = "follow-title">
      <h1>My favorit artists</h1>
    </div>
  </div>
    <div class="users-list">
      <ul class = "d-flex justify-content-center">
        <%= render @users %>
      </ul>
    </div>
  </div>
</div>
