<div class="container">
  <div class="my-5 text-center">
    <div>
      <h1>My favorit artists</h1>
    </div>
  </div>
    <div class="users-list">
      <ul>
        <%= render @users %>
      </ul>
    </div>
  </div>
</div>
