
<div data-controller="refresh-list">

  <%= form_with url: category_path, method: :get, html: { class: "d-flex", data: { refresh_list_target: 'form' } } do |f| %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
                          class: "form-control string required",
                          placeholder: "Find an user or a post",
                          value: params[:query],
                          data: { refresh_list_target: 'searchInput',
                          } %>
    </div>
  <% end %>

</div>
