<div class="container">
  <div class="row justify-content-center">
    <div class="col-20 col-sm-10">

      <h1>Edit <%= @post.title %></h1>
         <%= render "form", post: @post %>

    </div>
  </div>
</div>
