<div class="container m-5">
  <div class="new-post-form">
    <div class="row justify-content-center">
      <div class="col-20 col-sm-10">

        <h1>Show your work</h1>
      <%= render "form", post: @post %>

      </div>
    </div>
  </div>
</div>
