.banner {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.banner h1 {
  margin: 0;
  color: #9747FF;
  font-size: 4rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.6rem;
  font-family: "Abhaya libre";
  color: #565656;

}

.category-card {
  text-decoration: none;
}

.favorite-title {
  font-size: 20px;
  color: black;
  -webkit-text-stroke-width: medium

}
