.btn-ghost {
  color: #75CBED;
  border: 1px solid #75CBED;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #75CBED;
  transition: background 0.3s ease;
  font-size: 15px;
  text-decoration: none;
}

.btn-flat:hover {
  background: #3fa1c8;
  color: white;
}


.btn-delete {
  color: rgb(255, 0, 0);
  padding: 8px 24px;
  border-radius: 50px;
  border: 1px solid rgb(255, 0, 0);
  transition: background 0.3s ease;
  font-size: 15px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.btn-delete:hover {
  background: rgb(255, 217, 217);
  color: rgb(255, 0, 0);
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  background: linear-gradient(#75CBED, #3fa1c8);
  transition: background 0.3s ease;
  border: 1px solid #3fa1c8;

}

.btn-gradient:hover {
  background: linear-gradient(#3fa1c8, #1692c3);
  color: white;
}

.btn-follow {
  color: #75CBED;
  border: 1px solid #75CBED;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
  transition: opacity 0.6s ease;
}

.btn-follow:hover {
  background: #75CBED;
}

.btn-unfollow {
  color: #75CBED;
  border: 1px solid #75CBED;
  background: #75CBED;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
  transition: opacity 0.6s ease;
}

.btn-unfollow:hover {
  background: none;
  border: 1px solid #75CBED;
}


.btn-like {
  color: #75CBED;
  border: 1px solid #75CBED;
  width: 20px;
  border-radius: 50%;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
  transition: opacity 0.6s ease;
  justify-content: center;
  align-content: center;
}

.btn-like:hover {
  background: #75CBED;
}

.btn-unlike {
  color: #75CBED;
  border: 1px solid #75CBED;
  background: #75CBED;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
  transition: opacity 0.6s ease;
}

.btn-unlike:hover {
  background: none;
  border: 1px solid #75CBED;
}
