.card-trip {
  overflow: hidden;
  background: white;
  width: 18rem;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.2s;
}

.card-trip > img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip h3 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.following-list {
  list-style: none;
  margin: 2rem;
}


.card-trip:hover{
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border: 1px solid rgba(0, 0, 0, 0.178);
  background: rgb(238, 238, 238);
}

.users-list {
  display: flex;
  justify-content: space-between;
}
