.feed{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0.9rem ;
}

.card-post {
  justify-content: center;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  position: relative;
}

.card-post > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-post-info {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.card-post-info > p {
  margin: 0px 0px 0px 5px
}


.card-post .item1 { height: 200px; }
.card-post .item3 { height: 400px; }
.card-post .item4 { height: 500px; }


.card-post .item2 {
  height: 300px;
  transition: 0.2s;
  border: 1px solid rgba(120, 120, 120, 0.581);
}


.card-post:before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  top: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to top, transparent 50%, rgba(0, 0, 0, 0.628) 100%);
  border-radius: 5px;
}

.card-post:hover:before {
  height: 100%;
}

// Card for the posts#show

.card-post-show {
  overflow: hidden;
  margin: 25px 50px 25px 50px;
  height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  // align-items: center;
}

.card-post-show img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}


.card-post-show h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 5px 0px;
}

.card-post-show h2 {
  font-size: 30px;
  margin: 0;
}

.card-post-show p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-post-show .card-post-infos {
  padding: 16px;
}
