.following-list{
  list-style-type: none;
  margin: 0rem 0rem 3rem 0rem;
}
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover{
  height: 115px;
  background: rgb(242, 242, 242);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
