.category-Drawing {
  margin-bottom: 1rem;
  color: #c2a0fb;
  background: #864cf2;
  padding: 4px 4px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 13px;
}

.category-Photography {
  margin-bottom: 1rem;
  color: #8ad9f8;
  background: #0281b3;
  padding: 4px 4px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 13px;
}

.category-Illustration {
  margin-bottom: 1rem;
  color: #ec9df4;
  background: #c036cf;
  padding: 4px 4px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 13px;
}

.category-Painting {
  margin-bottom: 1rem;
  color: #95e0ed;
  background: #2992a4;
  padding: 4px 4px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 13px;
}
