.form-login {
  background: white;
  font-size: 15px;
  color: $dark-grey;
  padding: 10px 20px;
  margin-top: 8rem;
  margin-bottom: 2rem;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 30px;
    color: $dark;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .btn-flat{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.search-form-control {
  position: relative;
  width: 100%;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;

}

.new-post-form{
  margin-top: 8rem;
}
