.mascot {
  height: 26rem;
  width: 36rem;
  margin-top: 0;
  padding: 0;
}

.mascot-block {
  margin-top: 0;
  object-fit: cover;
  padding: 0;
  height: 2rem;
}


/* medium devices */

@media screen and (max-width: 768px){
  .mascot-block{
    display: none;
  }
}
