.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 10;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;

}
.title {
  justify-content: space-between;
  font-family: 'Abhaya Libre', Times, serif;

}
