.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 50px;
  background-color: lightgrey;
  color: grey;
  border: dashed 2px;
}
