<div class="container">
  <div class="row justify-content-center">

    <h2> <strong><%= @category.name %></strong> </h2>

    <div data-controller="refresh-posts">

      <%= form_with url: category_path(@category), method: :get, html: { class: 'mb-5', data: { refresh_posts_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                          class: "form-control",
                          placeholder: 'Search here',
                          value: params[:query],
                          data: {
                            refresh_posts_target: 'searchInput',
                            action: "keyup->refresh-posts#update"
                    } %>
      <% end %>

      <%= render 'list', posts: @posts %>

    </div>

  </div>
</div>
